// #loginButton{
//     position: absolute;
//     right: 2rem;
//     top: 2rem;
//     button{
//         background-color: transparent;
//         color: #ccc;
//         border: none;
//         font-size: 20px;
//         padding: 2px 6px;
//         cursor: pointer;
//         transition: 200ms;
//         outline: none;
//         &:hover{
//             color: green;
//             border: none;
//         }
//     }
// }



//vars


//config
$menu-items:3;

.menu-open{
  display:none;
}

.menu{
    position:absolute;
    right: 3rem;
    top: 2rem;
    box-sizing:border-box;
    font-size:20px;
  }

  .menu-open-button{
    background: white;
    width: 100px;
    height: 40px;
    margin-left: -80px;
    position: absolute;
    top: -10px;
    color: black;
    text-align: center;
    line-height: 42px;
    transform: translate3d(0, 0, 0);
    transition: transform ease-out 200ms;
    z-index: 2;
  transition-timing-function:cubic-bezier(0.175, 0.885, 0.320, 1.275);
  transition-duration:400ms;
  transform:scale(1.1,1.1) translate3d(0,0,0);
  cursor:pointer;
  &::after{
    content: 'LogIn';
}
}

.menu-item{
    background: none;
    width: 100px;
    height: 35px;
    margin-left: -80px;
    position: absolute;
    top: -8px;
    color: white;
    text-align: center;
    // padding-left: 0px;
    line-height: -5px;
    border: 1px solid white;
    outline: none;
    // transform: translate3d(0, 0, 0);
    transition: transform ease-out 200ms;
}
#submit_item{
    background-color: white;
    color: black;
    transition: 200ms;
    border: none;
    cursor: pointer;
    height: 37px;
    &:hover{
        background-color: green;
        cursor: pointer;
    }
}

.menu-item{
  @for $i from 1 through $menu-items{
    &:nth-child(#{$i+2}){
      transition-duration:180ms;
    }
  }
}

.menu-open-button:hover{
  transform:scale(1.2,1.2) translate3d(0,0,0);
}
.menu-open:checked+.menu-open-button{
  transition-timing-function:linear;
  transition-duration:200ms;
  transform:scale(0.9,0.9) translate3d(0,0,0);
  background: gray;
  &::after{
      content: 'schließen';
  }
}

.menu-open:checked~.menu-item{
  transition-timing-function:cubic-bezier(0.165, 0.840, 0.440, 1.000);
  @for $i from 1 through $menu-items{

    &:nth-child(#{$i+2}){
      transition-duration:90ms+(100ms*$i);
      transform:translate3d(-110px*$i,0,0);
    }
  }
}
