#navigation{
<<<<<<< HEAD
=======
    position: relative;
>>>>>>> release/0.0.2
    nav{
        position: absolute;
        margin-left: 4rem;
        ul{
            display: flex;
            flex-direction: row;
<<<<<<< HEAD
            justify-content: start;
=======
            justify-content: flex-start;
>>>>>>> release/0.0.2
            li{
                list-style: none;
                list-style-type: none;
                padding: 1.5rem 1rem;
                border-bottom: none;
                a{
                    color: #ccc;
                    font-size: 22px;
                    cursor: pointer;
                    text-decoration: none;
                }
            }
        }
    }
}
<<<<<<< HEAD
=======

>>>>>>> release/0.0.2
